#rtd-footer-container {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.sig-name {
  font-size: 1.0em;
  color: var(--pst-color-inline-code);
}

article.bd-article .function dt.sig {
  position: relative;
  background: #f3f4f7;
  padding: 0.8rem;
  border-left: 3px solid #ee4c2c;
  word-wrap: break-word;
  padding-right: 100px;
  font-weight: 400;
  font-size: 0.9em;
  font-family: IBMPlexMono,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New", monospace, var(--pst-font-family-monospace-system);
}
html {
  --pst-color-inline-code: #951c1c;
  --pst-font-size-icon: 3rem;
}

.navbar-brand {
  font-size: 2.0em;
}